.omnibox {
  display: flex;
  flex-direction: column;
  flex: 0 0 370px;
  width: 370px;
  min-height: 100%;
  background: #FFF;
  font-family: proxima-nova, arial, helvetica, sans-serif;

  &__photo {
    background-color: darken(#9C89CC, 10%);
    width: 100%;
    height: 220px;
    display: flex;
    align-items: flex-end;

    &--photo {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--no-photo {
      height: auto;

      .omnibox__header {
        background: transparent;
        padding-top: 20px;
      }

      .omnibox__title {
        text-shadow: none;
      }
    }
  }

  &__header {
    width: 100%;
    padding: 60px 20px 20px;
    color: #FFF;
    background: linear-gradient(to bottom, rgba(#000, 0), rgba(#000, 0.8));
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    margin: 0 0 5px;
  }

  &__type {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 2px;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 3px 5px 2px;
    margin: 0 10px 0 0;
  }

  &__cost {
    display: inline-block;
    font-size: 14px;
    color: rgba(#FFF, 0.7);
  }

  &__description {
    padding: 20px;
    border-bottom: 1px solid #DDD;
    color: #111;
    line-height: 140%;
  }

  &__details {
    padding: 20px;

    &__row {
      margin: 0 0 15px;

      &__key {
        color: #777;
        font-size: 13px;
        margin: 0 0 5px;
      }

      &__value {
        font-size: 15px;
        color: #333;
      }
    }

    &__tag {
      font-size: 13px;
      display: inline-block;
      background: #EFEFEF;
      border-radius: 2px;
      color: #555;
      padding: 3px 7px;
      margin-right: 4px;
    }

    &__source {
      color: #777;
      text-decoration: none;
      display: block;
      border: 1px solid #DDD;
      border-radius: 3px;
      text-align: center;
      padding: 10px 0;
      margin-top: 20px;
      font-size: 13px;
      transition: 0.2s;

      &:hover {
        color: #9C89CC;
        border-color: #9C89CC;
      }

      &:active {
        color: darken(#9C89CC, 15%);
        border-color: darken(#9C89CC, 15%);
      }
    }
  }
}

.omnibox-animation-enter {
  opacity: 0.01;
}

.omnibox-animation-enter.omnibox-animation-enter-active {
  opacity: 1;
  transition: 0.2s;
}

.omnibox-animation-leave {
  opacity: 1;
}

.omnibox-animation-leave.omnibox-animation-leave-active {
  opacity: 0.01;
  transition: 0.2s;
}

.omnibox__head {
  background: darken(#9C89CC, 15%);
  color: #FFF;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 18px;
  flex: 0 0 50px;

  &--back {
    cursor: pointer;

    &:hover {
      background: darken(#9C89CC, 20%);
    }

    &:active {
      background: darken(#9C89CC, 25%);
    }
  }
}

.omnibox__body {
  position: relative;
  flex: 1 1 auto;
}

.omnibox__slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 400%;
  transform: translate3d(0, 0, 0);
  transition: 0.2s;
  display: flex;

  &__slide {
    width: 25%;
    flex: 0 0 25%;
  }

  &--1 {
    transform: translate3d(0, 0, 0);
  }

  &--2 {
    transform: translate3d(-25%, 0, 0);
  }

  &--3 {
    transform: translate3d(-50%, 0, 0);
  }

  &--4 {
    transform: translate3d(-75%, 0, 0);
  }
}

.omnibox__listings {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.omnibox__listing {
  display: flex;
  padding: 0 10px 0 18px;
  border-bottom: 1px solid #EFEFEF;
  cursor: pointer;
  transition: 0.2s;
  align-items: center;
  height: 95px;

  &:hover {
    background: #EFEFEF;
  }

  &__details {
    flex: 1 1 auto;
    font-size: 14px;
  }

  &__name {
    font-size: 15px;
  }

  &__type {
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__neighborhood {
    font-size: 12px;
    display: inline-block;
    margin: 0 0 0 10px;
    color: #999;
  }

  &__cost {
    margin: 8px 0 0 0;
    color: #444;
  }

  &__photo {
    width: 100px;
    height: 75px;
    background-position: center center;
    background-size: cover;
    background-repeat: norepeat;
    flex: 0 0 100px;
  }
}